= link_to "Register", new_user_registration_path
= link_to "Sign In", new_user_session_path
= link_to "Create a new creative", new_creative_path
= link_to "Create a new target group", new_target_group_path
