= link_to 'View All', client_creatives_path(client), :class => (selected == :all) ? 'selected' : ''
= link_to 'Create New', new_client_creative_path(client), :class => (selected == :new) ? 'selected' : ''
