- content_for :title, "My Creatives"
- content_for(:subnav) do
  = subnav(:all)

%p A list of all <em>Creatives</em> available for use in your campaigns.

- if !creatives.empty?
  = render :partial => 'listing'
- else
  %p You have not uploaded any creatives.
