- content_for :title, "Campaigns"
- content_for(:subnav) do
  = subnav(:all)

%p 
  A list of all <em>Campaigns</em> for 
  = client.name
  \.

- if !campaigns.empty?
  %table#campaigns_table
    %tr
      %th Name
    - campaigns.each do |campaign|
      %tr
        %td= link_to campaign.name, client_campaign_path(client, campaign)
- else
  %p You have not created any campaigns.
